body.home-page {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  background-color: #F25252;
}

.home-page h1 {
  text-align: left;
  font-size: 36px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FFFF;
}

.home-page h2 {
  text-align: left;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 0px;
  color: #FFFF;
}

.home-page h3 {
  text-align: right;
  width: 300px;
  position: fixed;
  top: 120px;
  right: 0px;
  word-wrap: break-word;
  margin-right: 20px;
  font-size: 24px;
  color: #FFFF;
  
}

.home-page p {
  margin: 20px;
  font-size: 14px;
  position: fixed;
  top: 200px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}


.home-page nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.home-page ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.home-page li a {
  text-decoration: none;
  color: #000000;
}

.home-page li {
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
  width: 70px;
  padding: 1px;
  font-size: 14px;
  background-color: #FFFF;
  transition: background-color 0.3s;
}

.home-page li:hover {
  background-color: #F25252;
}

.home-page li a:hover {
  color: #FFFF;
  text-decoration: none;
}


.home-page .quiz-ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  flex-direction: column;
}

.home-page .quiz-li {
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: left;
  width: 400px;
  padding: 4px;
  font-size: 14px;
  background-color: #FFFF;
  transition: background-color 0.3s;
}

.home-page .quiz-question{
  width: 400px;
}

.home-page .quiz-explanation {
  width: 400px;
}

@media (min-width: 675px) {

  .home-page h1 {
    font-size: 64px;
  }

  .home-page h2 {
    font-size: 36px;
  }

  .home-page h3 {
    text-align: right;
    margin-right: 20px;
    font-size: 48px;
    width: 600px;
    top: 200px;
    right: 0px;
  }

  .home-page p {
    font-size: 18px;
    position: fixed;
    top: 380px;
  }

  .home-page li {
    width: 140px;
    font-size: 24px;
    margin-right: 30px;
    padding: 3px;
  }
}
