body.stores-page {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  background-color: #FFFF;
}

.stores-page h1 {
  text-align: left;
  font-size: 36px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #F23D3D;
}

.stores-page h2 {
  text-align: left;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 0px;
  color: #F23D3D;
}


.stores-page h3 {
  text-align: right;
  width: 200px;
  position: relative;
  top: 10px;
  margin-left: auto;
  word-wrap: break-word;
  margin-right: 20px;
  font-size: 24px;
  color: #F23D3D;
  
}

.stores-page h4 {
  text-align: left;
  font-size: 18px;
  margin-left: 20px;
  position: relative;
  top: 0px;
  bottom: 10px;
  color: #F23D3D;
}

.stores-page p {
  margin: 20px;
  font-size: 14px;
  word-wrap: break-word;
  width: 60%;
  position: relative;
  top: -20px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.stores-page .store-link {
  position: relative;
  top: -20px;
  text-decoration: none;
  color: #000000;
  margin-left: 20px;
}

.stores-page .store-link:hover {
  text-decoration: underline;
  color: #F23D3D;
}

.stores-page nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.stores-page ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.stores-page li a {
  text-decoration: none;
  color: #FFFF;
}

.stores-page li {
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
  width: 70px;
  padding: 1px;
  font-size: 14px;
  background-color: #000000;
  transition: background-color 0.3s;
}

.stores-page li:hover {
  background-color: #FFFF;
}

.stores-page li a:hover {
  color: #000000;
  text-decoration: none;
}

::selection {
  background-color:  #FFFF;
}

@media (min-width: 769px) {

  .stores-page h1 {
    font-size: 64px;
  }

  .stores-page h2 {
    font-size: 36px;
  }

  .stores-page h3 {
    text-align: right;
    margin-left: auto;
    font-size: 48px;
    width: 400px;
    top: 20px;
  }

  .stores-page h4 {
    text-align: left;
    font-size: 32px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    color: #F23D3D;
  }

  .stores-page .store-link {
    position: relative;
    top: -30px;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    font-size: 24px;
  }

  .stores-page li {
    width: 140px;
    font-size: 24px;
    margin-right: 30px;
    padding: 3px;
  }
}
