body.store-detail-page {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    background-color: #F23D3D;
  }

  .store-detail-page h1 {
    text-align: left;
    font-size: 36px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFFF;
  }

  .store-detail-page h2 {
    text-align: left;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 0px;
    color: #FFFF;
  }

  .store-detail-page h3 {
    text-align: right;
    width: 200px;
    position: relative;
    top: 10px;
    margin-left: auto;
    word-wrap: break-word;
    margin-right: 20px;
    font-size: 24px;
    color: #FFFF; 
  }

  .store-detail-page p {
    margin-left: 20px;
    font-size: 14px;
    word-wrap: break-word;
    width: 60%;
    position: relative;
    top: -20px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }

  .store-detail-page .back-btn {
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #FFFF;
    color: #000000;
    border: none;
    transition: background-color 0.3s;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    padding: 4px;
    position: relative;
    top: 10px;
  }
  
  .store-detail-page .back-btn:hover {
    background-color: #F23D3D;
    color: #FFFF;
  }

  @media (min-width: 769px) {

    .store-detail-page h1 {
      font-size: 64px;
    }
  
    .store-detail-page h2 {
      font-size: 36px;
    }
  
    .store-detail-page h3 {
      font-size: 48px;
      width: 400px;
      top: 20px;
    }
  
    .store-detail-page p {
      font-size: 16px;
      top: 20px;
      width: 60%;
    }

    .store-detail-page .back-btn {
        font-size: 20px;
        top: 25px;
      }
  
  }